$main-color: #fff;
$secondary-color: #000;
$base-font-size: 16px;
$secondary-font-size: 8px;
$base-line-height: 1.5;
$base-font-family: 'Boxing', sans-serif;
$secondary-font-family: 'Yu Gothic', sans-serif;

* {
    color: $secondary-color;
    box-sizing: border-box;

    a {
        text-decoration: none;
        color: inherit;
        display: inline-block;
    }

    img {
        border-radius: 7px;
    }



}

.container {
    max-width: 1100px;
    margin-inline: auto;
    padding-inline: 4%;
    box-sizing: border-box;
}

header {
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    padding-inline: 4%;

    .text {
        font-size: $secondary-font-size;
        font-family: $secondary-font-family;
        margin-left: -16px;
    }

    .site-title {
        font-size: calc(48px + 0.5vw);
        font-family: $base-font-family;
        font-weight: bold;
        position: absolute;
        white-space: nowrap;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .sub-title {
        font-size: $base-font-size;
        font-family: $secondary-font-family;
        font-weight: normal;
        display: block;
        text-align: center;
    }

    .total {
        padding: 12px 16px;
        border: 1px solid $secondary-color;
        border-radius: 7px;
        display: inline-block;
        height: 40px;
        font-weight: bold;
    }

    .side {
        display: none;
        position: absolute;
        transform: rotate(90deg);
        top: calc(100vw/2);
        left: -2%;
        right: 91%;
        flex: 1;
        margin-inline: auto;
    }
}

main {
    margin-top: 128px;

    #mainvisual {
        display: none;
        margin-bottom: 64px;
        text-align: center;

        img {
            border-radius: 5%;
            width: 100%;
            aspect-ratio: 1 / 1;
        }
    }

    #LP {
        margin-bottom: 64px;
        padding-bottom: 64px;
        border-bottom: 1px solid $secondary-color;
        text-align: center;

        .sec-title {
            font-size: 48px;
            font-family: $base-font-family;
            font-weight: bold;
            display: none;
            text-align: center;
        }

        .text {
            font-size: $base-font-size;
            font-family: $secondary-font-family;
            margin-bottom: 16px;
            display: none;
            text-align: center;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 16px;

            li {
                vertical-align: bottom;
                padding-bottom: 48px;

                a {
                    width: 100%;
                    height: 100%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5%;
                }

                &:nth-child(8n),
                &:nth-child(8n+1),
                &:nth-child(8n+3),
                &:nth-child(8n+6) {
                    height: 220px;
                }

                &:nth-child(8n+2),
                &:nth-child(8n+4),
                &:nth-child(8n+5),
                &:nth-child(8n+7) {
                    height: 270px;
                }

                &:nth-child(8n+1),
                &:nth-child(8n+2),
                &:nth-child(8n+3),
                &:nth-child(8n+4) {
                    align-self: start;
                }

                &:nth-child(8n+5),
                &:nth-child(8n+6),
                &:nth-child(8n+7),
                &:nth-child(8n) {
                    align-self: end;
                }
            }
        }

        .flex {
            display: flex;
            justify-content: space-between;

            .name {
                font-weight: bold;
            }

            .favorite {
                background-image: url('../img/heart_empty.svg');
                background-size: 100%;
                background-color: transparent;
                background-repeat: no-repeat;
                border: none;
                cursor: pointer;
                width: 16px;
                height: 16px;

                &.active {
                    background-image: url('../img/heart_filled.svg');
                }
            }

            .favorite-count {
                font-size: 12px;
                padding-inline: 4px;
            }

            .number {
                font-size: 12px;
            }
        }

        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .btn {
            font-size: $base-font-size;
            font-family: $secondary-font-family;
            border: 1px solid $secondary-color;
            font-weight: 550;
            padding: 8px 16px;
            margin-inline: auto;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.5s;
            display: none;
            text-align: center;

            &:hover {
                background-color: $secondary-color;
                color: $main-color;
            }
        }
    }

    #column {
        text-align: center;
        display: none;
        padding-bottom: 64px;
        margin-bottom: 24px;

        .sec-title {
            font-size: 48px;
            font-family: $base-font-family;
            display: none;
            font-weight: bold;
            text-align: center;
        }

        .text {
            font-size: $base-font-size;
            font-family: $secondary-font-family;
            margin-bottom: 16px;
            display: none;
        }

        .slick-card {
            border: 1px solid $secondary-color;
            border-radius: 7px;
            padding: 16px;
            text-align: right;
            display: none;
            margin-inline: 8px;
            width: 120px;

            img {
                width: 100%;
                height: 150px;
                border-radius: 0;
            }

            .text {
                font-weight: bold;
                padding-top: 16px;
                padding-left: 8px;
                font-family: $secondary-font-family;
                margin-bottom: 80px;
                text-align: left;
            }

            .btn {
                text-align: right;
                font-weight: bold;
                border: 1px solid $secondary-color;
                border-radius: 50%;
                padding: 8px;
            }
        }

        .slick-list {
            overflow: hidden;
        }

        .btn {
            font-size: $base-font-size;
            font-family: $secondary-font-family;
            border: 1px solid $secondary-color;
            font-weight: 550;
            padding: 8px 16px;
            margin-inline: auto;
            margin-top: 24px;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.5s;
            display: none;

            &:hover {
                background-color: $secondary-color;
                color: $main-color;
            }
        }

        .sub-title {
            font-size: $secondary-font-size;
            font-family: $secondary-font-family;
            text-align: center;
            margin-bottom: 16px;
        }
    }

    #about {
        text-align: center;
        margin-bottom: 64px;
        font-weight: 550;

        .sec-title {
            font-size: 48px;
            font-family: $base-font-family;
            font-weight: bold;
        }

        .sub-title {
            font-family: $secondary-font-family;
            font-size: $base-font-size;
            margin-bottom: 32px;
        }

        .text {
            font-size: $base-font-size;
            font-family: $secondary-font-family;
            max-width: 600px;
            margin-inline: auto;
            margin-bottom: 32px;
            word-wrap: break-word;
            word-break: break-word;
            line-height: 1.5;
            -webkit-hyphens: auto;
            hyphens: auto;
            text-align: center;
        }

        .btn {
            font-size: $base-font-size;
            font-family: $secondary-font-family;
            border: 2px solid $secondary-color;
            font-weight: 550;
            padding: 8px 16px;
            margin-inline: auto;
            border-radius: 20px;
            cursor: pointer;
            transition: all 0.5s;
            white-space: nowrap;

            &:hover {
                background-color: $secondary-color;
                color: $main-color;
            }
        }
    }

    #contact {
        text-align: center;
        margin-bottom: 64px;

        .sub-title {
            font-size: 12px;
            font-family: $secondary-font-family;
            background-color: $secondary-color;
            color: $main-color;
            position: relative;
            display: inline-block;
            border-radius: 7px;
            padding: 4px 8px;

            &::after {
                position: absolute;
                content: '';
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 6px 6px 0;
                border-color: transparent #000 transparent transparent;
            }
        }

        .sec-title {
            font-size: 48px;
            font-family: $base-font-family;
            font-weight: bold;
            position: relative;
            padding-block: 8px;
            max-width: 300px;
            margin-inline: auto;

            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background-color: #000;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .btn {
            font-size: $base-font-size;
            font-family: $secondary-font-family;
            border: 2px solid $secondary-color;
            font-weight: 550;
            padding: 8px 16px;
            margin-inline: auto;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.5s;
            margin-top: 32px;

            &:hover {
                background-color: $secondary-color;
                color: $main-color;
            }
        }
    }

    #article {
        max-width: 800px;
        margin-inline: auto;
        margin-bottom: 64px;
        position: relative;

        p {
            margin-bottom: 8px;
        }

        .sub-title {
            font-size: 12px;
            font-family: $secondary-font-family;
            background-color: $secondary-color;
            color: $main-color;
            display: inline-block;
            padding: 4px 8px;
            border-radius: 7px;
        }

        h2 {
            font-size: 32px;
            font-family: $secondary-font-family;
            font-weight: bold;
            margin-bottom: 8px;
        }

        .text {
            font-size: $secondary-font-size;
            font-family: $secondary-font-family;
            display: flex;

            p {
                margin-right: 16px;
                color: rgb(128, 128, 128, 0.5);

                span {
                    color: $secondary-color;
                    padding-left: 4px;
                }
            }
        }

        img {
            width: 100%;
            height: 420px;
            object-fit: cover;
            margin-bottom: 24px;
            border-radius: 7px;
        }

        .meta {
            position: absolute;
            top: 80%;
            left: 1%;
            font-size: $base-font-size;
            font-family: $secondary-font-family;
        }

        .detail {
            font-size: $base-font-size;
            font-family: $secondary-font-family;
        }

        .tag {
            font-size: 16px;
            font-family: $secondary-font-family;
            margin-top: 32px;
            font-weight: 550;
            display: none;

            p:first-child {
                margin-left: 16px;
            }
        }

    }

    #related {
        margin-bottom: 128px;
        position: relative;

        p {
            font-family: $secondary-font-family;
            margin-bottom: 8px;
        }

        .sec-title {
            font-size: 32px;
            font-family: $secondary-font-family;
            font-weight: bold;
            margin-bottom: 24px;
        }

        .slick-flex {
            display: flex;
            text-align: left;
            width: 60%;

            li {
                margin-right: 16px;
                width: 40%;
            }

            img {
                width: 100%;
                height: 150px;
            }

            .date {
                font-size: $secondary-font-size;
                font-family: $secondary-font-family;
                color: rgb(128, 128, 128, 0.5);
            }

            .text {
                font-size: $base-font-size;
                font-family: $secondary-font-family;
                font-weight: bold;
            }
        }

        .slick-prev,
        .slick-next {
            width: 24px;
            height: 24px;
            font-weight: 1000;
            top: -22%;
            border: 1px solid #ddd;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            color: #ddd;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #f5f5f5;
            }
        }

        .slick-prev {
            left: 150%;
            margin-right: 8px;

            &::before {
                display: none;
            }
        }

        .slick-next {
            left: 155%;

            &::before {
                display: none;
            }
        }

        .slider-info {
            position: absolute;
            top: 11%;
            right: 16%;
            background: rgba(255, 255, 255, 0.8);
            padding: 4px 8px;
            border-radius: 4px;
            font-size: 14px;
            font-weight: bold;
            font-family: $secondary-font-family;
        }
    }

    #column-list {
        padding-bottom: 128px;
        position: relative;
        margin-bottom: 64px;

        .sec-title {
            font-size: 48px;
            font-family: $base-font-family;
            font-weight: bold;
            text-align: center;
        }

        .sub-title {
            font-size: 12px;
            font-family: $secondary-font-family;
            text-align: center;
            margin-bottom: 16px;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0%;
            width: calc(1100px - 8%);
            height: 1px;
            background-color: #000;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 24px;
            column-gap: 12px;


        }

        .card {
            border: 1px solid $secondary-color;
            border-radius: 7px;
            padding: 16px;
            text-align: right;

            &:nth-child(3n+2) {
                background-color: #282828;
                color: $main-color;

                .text {
                    color: $main-color;
                }

                .btn {
                    border: 1px solid $main-color;
                }
            }


            .text {
                font-weight: bold;
                padding-top: 16px;
                padding-left: 8px;
                font-family: $secondary-font-family;
                margin-bottom: 80px;
                text-align: left;
            }

            .btn {
                text-align: right;
                font-weight: bold;
                border: 1px solid $secondary-color;
                border-radius: 50%;
                padding: 8px;
            }
        }

        img {
            width: 100%;
            height: 150px;
            border-radius: 0;
        }
    }
}

footer {
    position: relative;
    background-color: $secondary-color;
    color: $main-color;
    max-width: calc(1100px - 8%);
    margin-inline: auto;
    margin-bottom: 128px;
    padding-inline: 4%;
    padding-top: 16px;
    padding-bottom: 64px;
    border-radius: 5px;

    &::before {
        position: absolute;
        content: "";
        width: 92%;
        height: 1px;
        top: 8%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
    }

    .footer-title {
        color: $main-color;
        font-family: $secondary-font-family;
        padding-left: 16px;
    }

    .grid {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 48px;
        padding-left: 16px;
        margin-bottom: 152px;

        li {
            padding-bottom: 16px;

            p {
                color: $main-color;
                font-family: $secondary-font-family;

                &:first-child {
                    font-size: 24px;
                }

                &:last-child {
                    font-size: 8px;
                    text-align: center;
                }
            }
        }
    }

    .SAIYO {
        position: absolute;
        bottom: -4px;
        font-size: calc(100vw/8);
        color: #fff;
        font-family: $base-font-family;
        white-space: nowrap;
        margin-top: -8px;
    }
}

@media screen and (max-width: 768px) {
    header {
        position: relative;
        padding-inline: 6%;

        .mainvisual {
            display: inline-block;
            width: 100%;
            object-fit: cover;
        }

        .sub-title {
            display: none;
        }

        .side {
            display: inline-block;
            position: fixed;
            font-size: 12px;
        }

        .site-title {
            top: 260%;
            display: inline-block;
            font-size: clamp(48px, calc(48px + 3vw), calc((70vw / 7.5)));
        }

        .text {
            font-size: calc(30vw/9);
            font-weight: 550;
        }

        .total {
            transform: scale(1.2);
            max-width: 200px;
        }
    }

    .column {
        .site-title {
            font-size: 24px;
            top: 200%;
        }
    }

    main {
        margin-top: 112px;

        #mainvisual {
            display: block;
        }

        #LP {
            .sec-title {
                display: block;
                font-size: clamp(20px, calc(88vw/8), 48px);
            }

            .text {
                display: block;
            }

            .grid {
                grid-template-columns: repeat(1, 1fr);

                li {

                    &:nth-child(8n),
                    &:nth-child(8n+1),
                    &:nth-child(8n+3),
                    &:nth-child(8n+6) {
                        height: 300px;
                    }

                    &:nth-child(8n+2),
                    &:nth-child(8n+4),
                    &:nth-child(8n+5),
                    &:nth-child(8n+7) {
                        height: 380px;
                    }
                }

                .flex {
                    flex-direction: column;
                    text-align: center;

                    .name {
                        margin-top: 12px;
                        font-size: 24px;
                        padding-bottom: 4px;
                    }

                    .favorite-count,
                    .number {
                        font-size: 16px;
                    }
                }

                .content {
                    justify-content: center;
                    margin-bottom: 24px;
                }
            }

            .btn {
                display: inline-block;
                margin-top: 32px;
            }
        }

        #column {
            border-bottom: 1px solid $secondary-color;
            display: block;

            .sec-title {
                display: block;
            }

            .text {
                display: block;
            }

            .slick-card {
                display: block;
                border: 1.5px solid $secondary-color;

                .text {
                    margin-bottom: 16px;
                }
            }

            .btn {
                display: inline-block;
                margin-top: 32px;
            }
        }

        #contact {
            .sec-title {
                font-size: clamp(24px, calc(88vw/7), 48px);
            }
        }

        #article {
            margin-top: 360px;

            img {
                border-radius: 24px;
            }

            .text {
                flex-direction: column;
                font-size: 16px;
                margin-bottom: 64px;
            }

            .meta {
                display: none;
            }

            .detail {
                font-weight: bold;
                font-size: 24px;
            }

            .tag {
                display: inline-block;
            }
        }

        #related {
            p:first-child {
                font-weight: 550;
            }

            .slider-info {
                display: none;
            }

            .slick-flex {
                width: 100%;
            }
        }

        #column-list {
            margin-top: 120px;
            .grid {
                grid-template-columns: repeat(1, 1fr);
            }

            img {
                height: 200px;
            }
        }
    }

    footer {
        .grid {
            width: 100%;
            grid-template-columns: repeat(1, 1fr);
        }

        &::before {
            width: 88%;
        }

    }

    .container {
        padding-inline: 6%;
    }
}

@media screen and (max-width: 320px) {
    header {
        .site-title {
            top: 196%;
            font-size: calc(32px + 1vw);
        }

        .sub-title {
            font-size: 8px;
        }

        .text {
            font-size: calc(30vw/9);
            font-weight: 550;
            margin-left: -8px;
        }

        .total {
            transform: scale(0.8);
            max-width: 200px;
            white-space: nowrap;
            padding: 8px 12px;
            height: 28px;
        }

        .side {
            font-size: 8px;
            top: 80vw;
        }
    }

    main {
        margin-top: 64px;

        #LP {
            .sec-title {
                font-size: calc(32px + 1vw);
            }

            .text {
                font-size: 8px;
            }
        }

        #column {
            .sec-title {
                font-size: calc(32px + 1vw);
            }

            .sub-title {
                font-size: 8px;
            }
        }

        #about {
            .sub-title {
                font-size: 12px;
            }

            .text {
                font-size: 12px;
            }

            .btn {
                font-size: 12px;
            }
        }

        #article {
            margin-top: 232px;
        }
    }

    footer {
        .grid {
            width: 100%;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .container {
        padding-inline: 6%;
    }

}