* {
  color: #000;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  border-radius: 7px;
}

.container {
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: 4%;
  box-sizing: border-box;
}

header {
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  padding-inline: 8px;
}
header .text {
  font-size: 8px;
  font-family: "Yu Gothic", sans-serif;
}
header .site-title {
  font-size: 48px;
  font-family: "Boxing", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .sub-title {
  font-size: 16px;
  font-family: "Yu Gothic", sans-serif;
  display: block;
  text-align: center;
}
header .total {
  padding: 12px 16px;
  border: 1px solid #000;
  border-radius: 7px;
  display: inline-block;
  height: 40px;
  font-weight: bold;
}
header .mainvisual,
header .side {
  display: none;
}

main {
  margin-top: 96px;
}
main #LP {
  margin-bottom: 64px;
  padding-bottom: 64px;
  border-bottom: 1px solid #000;
}
main #LP .sec-title {
  font-size: 48px;
  font-family: "Boxing", sans-serif;
  display: none;
}
main #LP .text {
  font-size: 16px;
  font-family: "Yu Gothic", sans-serif;
  margin-bottom: 16px;
  display: none;
}
main #LP .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
main #LP .grid li {
  vertical-align: bottom;
  padding-bottom: 48px;
}
main #LP .grid li a {
  width: 100%;
  height: 100%;
}
main #LP .grid li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5%;
}
main #LP .grid li:nth-child(8n), main #LP .grid li:nth-child(8n+1), main #LP .grid li:nth-child(8n+3), main #LP .grid li:nth-child(8n+6) {
  height: 220px;
}
main #LP .grid li:nth-child(8n+2), main #LP .grid li:nth-child(8n+4), main #LP .grid li:nth-child(8n+5), main #LP .grid li:nth-child(8n+7) {
  height: 270px;
}
main #LP .grid li:nth-child(8n+1), main #LP .grid li:nth-child(8n+2), main #LP .grid li:nth-child(8n+3), main #LP .grid li:nth-child(8n+4) {
  align-self: start;
}
main #LP .grid li:nth-child(8n+5), main #LP .grid li:nth-child(8n+6), main #LP .grid li:nth-child(8n+7), main #LP .grid li:nth-child(8n) {
  align-self: end;
}
main #LP .flex {
  display: flex;
  justify-content: space-evenly;
}
main #LP .flex .name {
  font-weight: bold;
  margin-right: 24px;
}
main #LP .flex .favorite {
  background-image: url("../img/heart_empty.svg");
  background-size: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
main #LP .flex .favorite.active {
  background-image: url("../img/heart_filled.svg");
}
main #LP .flex .favorite-count {
  font-size: 16px;
}
main #LP .flex .number {
  font-size: 16px;
}
main #LP .btn {
  font-size: 16px;
  font-family: "Yu Gothic", sans-serif;
  border: 1px solid #000;
  font-weight: 550;
  padding: 8px 16px;
  margin-inline: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  display: none;
}
main #LP .btn:hover {
  background-color: #000;
  color: #fff;
}
main #column .sec-title {
  font-size: 48px;
  font-family: "Boxing", sans-serif;
  display: none;
}
main #column .text {
  font-size: 16px;
  font-family: "Yu Gothic", sans-serif;
  margin-bottom: 16px;
  display: none;
}
main #column .slick-card {
  border: 1px solid #000;
  border-radius: 7px;
  padding: 16px;
  text-align: right;
  display: none;
}
main #column .slick-card img {
  width: 100%;
  height: 150px;
  border-radius: 0;
}
main #column .slick-card .text {
  font-weight: bold;
  padding-top: 16px;
  padding-left: 8px;
  font-family: "Yu Gothic", sans-serif;
  margin-bottom: 80px;
  text-align: left;
}
main #column .slick-card .btn {
  text-align: right;
  font-weight: bold;
  border: 1px solid #000;
  border-radius: 50%;
  padding: 8px;
}
main #column .btn {
  font-size: 16px;
  font-family: "Yu Gothic", sans-serif;
  border: 1px solid #000;
  font-weight: 550;
  padding: 8px 16px;
  margin-inline: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  display: none;
}
main #column .btn:hover {
  background-color: #000;
  color: #fff;
}
main #about {
  text-align: center;
  margin-bottom: 64px;
}
main #about .sec-title {
  font-size: 48px;
  font-family: "Boxing", sans-serif;
}
main #about .sub-title {
  font-family: "Yu Gothic", sans-serif;
  font-size: 16px;
  margin-bottom: 32px;
}
main #about .text {
  font-size: 16px;
  font-family: "Yu Gothic", sans-serif;
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 32px;
}
main #about .btn {
  font-size: 16px;
  font-family: "Yu Gothic", sans-serif;
  border: 2px solid #000;
  font-weight: 550;
  padding: 8px 16px;
  margin-inline: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
main #about .btn:hover {
  background-color: #000;
  color: #fff;
}
main #contact {
  text-align: center;
  margin-bottom: 64px;
}
main #contact .sub-title {
  font-size: 12px;
  font-family: "Yu Gothic", sans-serif;
  background-color: #000;
  color: #fff;
  position: relative;
  display: inline-block;
  border-radius: 7px;
  padding: 4px 8px;
}
main #contact .sub-title::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 0;
  border-color: transparent #000 transparent transparent;
}
main #contact .sec-title {
  font-size: 48px;
  font-family: "Boxing", sans-serif;
  position: relative;
  padding-block: 8px;
  max-width: 300px;
  margin-inline: auto;
}
main #contact .sec-title::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  bottom: 0;
}
main #contact .btn {
  font-size: 16px;
  font-family: "Yu Gothic", sans-serif;
  border: 2px solid #000;
  font-weight: 550;
  padding: 8px 16px;
  margin-inline: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  margin-top: 32px;
}
main #contact .btn:hover {
  background-color: #000;
  color: #fff;
}
main #article {
  max-width: 800px;
  margin-inline: auto;
  margin-bottom: 64px;
}
main #article p {
  margin-bottom: 8px;
}
main #article .sub-title {
  font-size: 12px;
  font-family: "Yu Gothic", sans-serif;
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 7px;
}
main #article h2 {
  font-size: 32px;
  font-family: "Yu Gothic", sans-serif;
  font-weight: bold;
  margin-bottom: 8px;
}
main #article .text {
  font-size: 8px;
  font-family: "Yu Gothic", sans-serif;
  display: flex;
}
main #article .text p {
  margin-right: 16px;
  color: rgba(128, 128, 128, 0.5);
}
main #article .text p span {
  color: #000;
  padding-left: 4px;
}
main #article img {
  width: 100%;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 24px;
  border-radius: 7px;
}
main #article .detail {
  font-size: 16px;
  font-family: "Yu Gothic", sans-serif;
}
main #related {
  margin-bottom: 128px;
}
main #related p {
  font-family: "Yu Gothic", sans-serif;
  margin-bottom: 8px;
}
main #related .sec-title {
  font-size: 32px;
  font-family: "Yu Gothic", sans-serif;
  font-weight: bold;
  margin-bottom: 24px;
}
main #related .flex {
  display: flex;
  text-align: left;
  width: 60%;
}
main #related .flex li {
  margin-right: 16px;
  width: 40%;
}
main #related .flex img {
  width: 100%;
  height: 150px;
}
main #related .flex .date {
  font-size: 8px;
  font-family: "Yu Gothic", sans-serif;
  color: rgba(128, 128, 128, 0.5);
}
main #related .flex .text {
  font-size: 16px;
  font-family: "Yu Gothic", sans-serif;
  font-weight: bold;
}
main #column-list {
  padding-bottom: 128px;
  position: relative;
  margin-bottom: 64px;
}
main #column-list::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  width: calc(1100px - 8%);
  height: 1px;
  background-color: #000;
}
main #column-list .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 24px;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
main #column-list .grid .card {
  border: 1px solid #000;
  border-radius: 7px;
  padding: 16px;
  text-align: right;
}
main #column-list .grid .card:nth-child(3n+2) {
  background-color: #282828;
  color: #fff;
}
main #column-list .grid .card:nth-child(3n+2) .text {
  color: #fff;
}
main #column-list .grid .card:nth-child(3n+2) .btn {
  border: 1px solid #fff;
}
main #column-list .grid .card img {
  width: 100%;
  height: 150px;
  border-radius: 0;
}
main #column-list .grid .card .text {
  font-weight: bold;
  padding-top: 16px;
  padding-left: 8px;
  font-family: "Yu Gothic", sans-serif;
  margin-bottom: 80px;
  text-align: left;
}
main #column-list .grid .card .btn {
  text-align: right;
  font-weight: bold;
  border: 1px solid #000;
  border-radius: 50%;
  padding: 8px;
}

footer {
  position: relative;
  background-color: #000;
  color: #fff;
  max-width: calc(1100px - 8%);
  margin-inline: auto;
  margin-bottom: 128px;
  padding-inline: 4%;
  padding-top: 16px;
  border-radius: 5px;
}
footer::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 1px;
  top: 8%;
  background-color: #fff;
}
footer .footer-title {
  color: #fff;
  font-family: "Yu Gothic", sans-serif;
  padding-left: 16px;
}
footer .grid {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 48px;
  padding-left: 16px;
  margin-bottom: 152px;
}
footer .grid li {
  padding-bottom: 16px;
}
footer .grid li p {
  color: #fff;
  font-family: "Yu Gothic", sans-serif;
}
footer .grid li p:first-child {
  font-size: 24px;
}
footer .grid li p:last-child {
  font-size: 8px;
  text-align: center;
}
footer p:last-child {
  font-size: 148px;
  color: #fff;
  font-family: "Boxing", sans-serif;
}

@media screen and (max-width: 768px) {
  header .mainvisual {
    display: block;
  }
  header .side {
    display: block;
    text-orientation: sideways;
  }
  main #LP .sec-title {
    display: block;
  }
  main #LP .text {
    display: block;
  }
  main #LP .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  main #LP .btn {
    display: none;
  }
  main #column .sec-title {
    display: block;
  }
  main #column .text {
    display: block;
  }
  main #column .slick-card {
    display: block;
  }
  main #column .btn {
    display: none;
  }
  footer .grid {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=style.css.map */